<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<table class="table">
    <thead>
      <tr class="text-center">
        <th style="width: 10%;">STT</th>
        <th style="width: 25%;">Mã</th>
        <th style="width: 20%;">Tên</th>
        <th style="width: 30%;">Ảnh</th>
        <th style="width: 15%;"></th>
      </tr>
    </thead>
    <tbody>
      {%for prod in productList %}
      <tr>
        <td class="text-center">{{forloop.counter}}</td>
        <td class="text-center">{{prod.code}}</td>
        <td>{{prod.name}}</td>
        <td><img src='/{{prod.image}}' style="max-height: 200px;"></td>
        <td>
          <a href="/edit_product/{{prod.id}}">Chỉnh sửa</a>
          <a href="javascript:deleteItem({{prod.id}})">Xóa</a>
        </td>
      </tr>
      {%endfor%}
    </tbody>  
  </table>
  <a href="{% url 'add-product' %}">Thêm sản phẩm</a>
  
  <script>
    function deleteItem(id) {
      if(confirm('Bạn có muốn xóa')) {
        location.href = '/delete_product/' + id;
      }
    }
  </script>